body {
    width: 100%;
    height: 100vh;
    margin: 0; /*somewhat like a padding*/
    background-color: #1b1b32;
    color: #f5f6f7;
}
/*As label elements are inline by default, they appear on the same line as the text they are labelling. To make them appear on separate lines, add display: block to the label element, and add a margin of 0.5rem 0, to separate them from each other*/
label {
    display:block;
    margin: 0.5rem 0;
}